.label {
    -fx-font-size: 15px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bold;
}

#heading {
    -fx-font-size: 26px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #e9e9e9;
}

#cr-options .label {
    -fx-font-size: 12px;
}

#cr-options {
    -fx-font-size: 12px;
}

.menu .label {
    -fx-font-family: default;
    -fx-font-weight: normal;
}

#featureitem {
    -fx-font-family: default;
    -fx-font-weight: normal;
}