.bar {
    height: 5px;
    background: #E69A28;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
    display: block;
    width: 420px;

}

.stat-block {
    display: inline-block;
}

#content-wrap {
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
    sans-serif;
    font-size: 14px;
    background: #FDF1DC;
    padding: 0.6em;
    padding-bottom: 0.5em;
    border: 1px #DDD solid;
    box-shadow: 0 0 1.5em #867453;

    /* We don't want the box-shadow in front of the bar divs. */
    position: relative;
    z-index: 0;

    /* Leaving room for the two bars to protrude outwards */
    margin-left: 2px;
    margin-right: 2px;

    /* This is possibly overridden by next CSS rule. */
    width: 400px;
}

h3 {
    border-bottom: 1px solid #7A200D;
    color: #7A200D;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 0.3em;

    break-inside: avoid-column;
    break-after: avoid-column;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.9em;
    line-height: 1.5;
}

*:last-child {
    margin-bottom: 0;
}

#creature-heading h1 {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT',
    'Bookman Old Style', Bookman, 'Goudy Old Style',
    Garamond, 'Hoefler Text', 'Bitstream Charter',
    Georgia, serif;
    color: #7A200D;
    font-weight: 700;
    margin: 0;
    font-size: 23px;
    letter-spacing: 1px;
    font-variant: small-caps;
}

#creature-heading h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    margin: 0;
}

#top-stats {
    color: #7A200D;
}

svg {
    fill: #922610;
    /* Stroke is necessary for good antialiasing in Chrome. */
    stroke: #922610;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.property-line h4 {
    margin: 0;
    display: inline;
    font-weight: bold;
}

.property-line {
    line-height: 1.4;
    display: block;
    text-indent: -1em;
    padding-left: 1em;
}

.property-line p:first-of-type {
    display: inline;
    text-indent: 0;
}

.property-line p {
    text-indent: 1em;
    margin: 0;
}

table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    color: #7A200D;
    font-size: 14px;
}

th, td {
    width: 50px;
    text-align: center;
}

.property-block {
    margin-top: 0.3em;
    margin-bottom: 0.9em;
    line-height: 1.5;
    display: block;
}

.property-block h4 {
    margin: 0;
    display: inline;
    font-weight: bold;
    font-style: italic;
}

.property-block p:first-of-type {
    display: inline;
    text-indent: 0;
}

.property-block p {
    text-indent: 1em;
    margin: 0;
}
